$naranja: #F96F00;
$beige: #F8E2D1;
$white: #ffffff;
$negro: #000000;
$negro2: rgba(0, 0, 0, 0.50);
$azul: #92bce0;
$azul2: #428bca;
$azul3: #245682;
$azul4: #17436b;
$azulNav: #3C8DBC;
$azulNavDropdown: #367FA9;
$azulPrice1: #92BCE0;
$azulPrice2: #6AA3D5;
$azulPrice3: #428BCA;
$azulPrice4: #3071A9;
$azulPrice5: #245682;
$azulPrice6: #17436B;