@import "_variables";

.modal-dialog{

  .modal-content{
    border-radius: 14px;
    color: white;
    border: 1px solid #222D32;
    .modal-header{
      background: #222D32;
      border-radius: 12px 12px 0 0;
      border-bottom: 1px solid #4F5559;
    }
    .modal-body{
      background: #222D32;

      .form-control{
        width: 100%;
        box-sizing: border-box;
        background-color: #4F5559;
        color: white;
        border: 0;
        border-radius: 5px;
      }
    }
    .modal-footer{
      background: #222D32;
      border-top: 1px solid #4F5559;
      border-radius: 0 0 12px 12px;

      .btn.btn-warning{
        background-color: #222D32;
        border-color: #4F5559;
        &:hover {
          background: #4F5559;
        }
      }
    }
  }
}


.table {
  tbody {
    .btn.btn-warning {
      background: #e3d9fa;
      color: black;
      border-color: #605CA8;
      &:hover {
        background: #b094ff;
      }
    }
    .btn.btn-default {
      background: #37337F;
      color: $white;
      border:2px solid #605CA8;
      border-radius: 10px;
      &:hover {
        background: #b997ff;
      }
    }
  }
}
.box-body {
  .btn.btn-warning {
    background: #37337F;
    border:2px solid #605CA8;
    border-radius: 10px;
    &:hover {
      background: #b094ff;
    }
  }
  .btn.btn-danger{
    background: #c13b60;
    border: 2px solid #841a46;
    border-radius: 10px;
    &:hover {
      background: #8d2c46;
    }
  }
  &.marginless {
    .row {
      margin: 0;
    }
  }
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover{
  background-color: #37337F;
  border: 1px solid #1B1940;
}

/*------------- T-O-D-O ESTO PARA QUE NO SALGA EL SPINNER DE SELECTOR DE NUMERO ---------------*/
// Webkit:
// Hide number picker
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// Firefox:
// Hide number picker
input[type=number] {
  -moz-appearance:textfield;
}