footer {
  background: $azulNav;
  margin-top: 55px;
  position: relative;
  .vertical-logo-container {
    width: 126px;
    padding-bottom: 20px;
    position: relative;
    display: inline-block;

    .vertical-logo {
      margin: 0;
      padding: 0;
      transition: all 150ms linear;
      width: 100px;
      &:hover {
        opacity: 0.5;
      }
    }
  }

  .social-nav {
    list-style:none;
    margin-right: 50px;
    margin-bottom: 2.5em;

    li {
      display: inline-block;
      color: #221f1f;
      transition: all 150ms linear;
      line-height: 1;
      font-size: 1em;
      &:hover a{
        color: black;
        border-bottom: 2px solid $naranja;
      }
      a{
        color: black;
        text-decoration: none;
        padding-bottom: 7px;
        i {
          line-height: 55px;
        }
      }
      &:first-child {
        font-family: Ubuntu, Sans-Serif;
        font-weight: 700;
        font-style: normal;
        font-size: 1em;
        vertical-align: middle;
        word-wrap: initial;
      }
      &.icon-bubble {
        width: 3em;
        height: 3em;
        border-radius: 50%;
        text-align: center;
        border: none;
        background: none;
        vertical-align: middle;
        position: relative;
        z-index: 1;
        backface-visibility:hidden;
        transition: color 0.3s;
        font-size: 1.25em;
        line-height: 3em;
        &:hover a {
          border-bottom: none;
          color: $naranja;
        }
        &:hover:before {
          box-shadow: inset 0 0 0 2px $naranja;
          transform: scale3d(1, 1, 1);
        }
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          z-index: -1;
          box-shadow: inset 0 0 0 35px $white;
          transform: scale3d(0.9, 0.9, 1);
          transition: box-shadow 0.2s, transform 0.2s;
        }
        a {
          color: $azulPrice3;
          outline: 0;
        }
      }
    }
  }

  .fondo-footer {
    img {
      position: absolute;
      left: 0;
      width: 100%;
      height: 55px;
      top: -55px;
    }
  }

  .legal-nav {
    list-style-type: none;
    font-family: Ubuntu, sans-serif;
    margin-left: -25px;
    .nombre {
      padding-left: 0;
      margin-top: 25px;
    }
    li:hover {
      a {
        color: $white;
        border-bottom: 2px solid $naranja;
      }
    }
  }
  @media(min-width: 992px){
    .row-legal-nav {
      margin-top: 25px;
    }
  }
  @media (max-width: 992px) {
    .row-legal-nav {
      margin-top: 15px;
    }
  }
  .container-footer {
    max-width: 1000px;
    margin: auto;
  }
}