/* -------------------------------------NAVBAR STYLE-------------------------------------------- */
/*---- perfil----*/
.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
  display: block;
  line-height: 1.428571429;
  color: #999;
}
.well-sm {
  width: 400px;
  margin: 5px;
}

.navbar {
  margin-bottom: 0px;
  background-color: $azulNav;

  .navbar-right {
    .user-menu {
      .dropdown-menu {
        padding: 0;
        background: rgb(60,141,188); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(60,141,188,1) 0%, rgba(255,255,255,1) 65%);
        background: -webkit-linear-gradient(top, rgba(60,141,188,1) 0%,rgba(255,255,255,1) 65%);
        background: linear-gradient(to bottom, rgba(60,141,188,1) 0%,rgba(255,255,255,1) 65%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c8dbc', endColorstr='#ffffff',GradientType=0 );
        .user-header {
          .img-circle {
            border: 1px solid $white;
          }
          p {
            color: $azulPrice5;
          }
        }
        .user-footer {
          background: $white;
          a.btn.btn-default {
            background: $white;
            border: 2px solid $azulNav;
            color: $azulNav;
            border-radius: 2px;
            &:hover {
              background: $azulPrice1;
              border: 2px solid $azulPrice3;
              color: $white;

            }
          }
          a.btn.btn-error {
            background: $white;
            border: 2px solid $naranja;
            color: $naranja;
            border-radius: 2px;
            &:hover {
              background: $naranja;
              border: 2px solid $naranja2;
              color: $white;

            }
            @media(max-width: 992px) {
              margin-left: 0;
            }
          }
          @media(max-width: 992px) {
            background: $azulNav;
          }
        }
      }
    }
  }

  @media (min-width: 1024px){
    .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
    }

    .navbar-collapse {
      text-align: center;
    }
  }

  @media (min-width: 768px) and (max-width: 1023px){
    .navbar-header {
      width: 100%;
    }
    .navbar-brand {
      width: 100%;
    }
    .container {
      width: 100%;
    }
  }
  @media (max-width: 767px){
    .nav.navbar-nav li a{
      margin-left: 40px;
    }
  }

  ::after {
    background: $azulNav;
  }

  .navbar-header {
      color: $white;
    }
  .navbar-collapse ul>li>a{
    font-family: 'Comfortaa', cursive;
    font-size: 14px;
    color: $white;
  }
  .navbar-collapse ul>li>a::first-letter{
    color: $naranja;
    font-weight: bold;
  }
}

.navbar-form input, .form-inline input {
  width:auto;
}

.navbar-inverse{
  border: 0px;
  background-color: $white;

  .navbar-default {
    border-bottom: 0px;
  }
  .navbar-nav > li::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: $naranja;
    transition: width .8s;
  }
  .navbar-nav > li:hover::after {
    width: 100%;
  }
  .navbar-brand {
    min-width: 200px;
    font-family: 'Poiret One', cursive;
    color: $white;
    font-size: 40px;
    span {
      color: $naranja;
      font-weight: 500;
    }
  }
  .navbar-nav > .active > a:hover,
  .navbar-nav > li > a:hover,
  .navbar-brand:hover{
    color: $naranja;
    span {
      color: $white;
    }
  }

  .navbar-nav > li > a:hover::first-letter {
    color: $white;
  }

  .navbar-nav > li > a {
    color: $negro2;
  }
  .navbar-toggle {
    border-color: rgba(0, 0, 0, 0.3);
  }
  .navbar-toggle:hover {
    background-color: rgba(0, 0, 0, 0.3);
    .icon-bar {
      background-color: $naranja;
    }
  }
  .navbar-toggle:focus {
    background-color: $negro2;
  }
  .navbar-nav > .active > a:hover,
  .navbar-nav > .active > a:focus{
    background-color: rgba(0, 0, 0, 0.3);
  }
  .navbar-nav > .active > a{
    background-color: $negro2;
  }
  .container {
    padding-top: 8px;
  }
} //fin navbar-inverse


.navbar-toggle{
  background-color: $negro2;
}

#nav.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:10;
}
.navbar-dropdown {
  margin-top: 12px;
  text-decoration: none;
  list-style-type: none;
  margin-right: 20px;
  a {
    color: $negro2;
  }
  a:hover {
    color: $naranja;
    text-decoration: none;
  }
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
  background: $azulNav;
}

