.table-responsive {
  background: $azulPrice3;
  color: $white;
  .input-sm {
    background: $azulPrice5;
    color: $white;
    border-radius: 5px;
  }
  thead > tr > th {
    border-color: $azulPrice1;
  }
  tbody > tr:hover {
    background: $azulPrice2;
  }
  tbody > tr > td {
    border-color: $azulPrice1;
  }
  .progress {
    border-radius: 5px;
    background: $azulPrice1;
    .progress-bar {
      background: $naranja;
      border-radius: 5px;
    }
  }
  .pagination >li >a{
    background: $azulPrice4;
    border: 1px solid $white;
    color: $white;
  }
  .pagination >li >a:hover{
    background: $azulPrice2;
    border: 1px solid $white;
    color: $naranja;
  }
  .select2-selection--single {
    background: $azulPrice4;
    border-color: $white;
    border: 1px solid $white;
  }
  .select2-container--default{
    width: 140px !important;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: white;
    line-height: 22px;
  }
  .select2-selection__arrow{
    background: $azulPrice3;
    border-radius: 0 3px 3px 0;
    height: 28px;
    top: 0;
    right: 0;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: $white transparent transparent transparent;
  }
}
.bordes-redondeados-tabla {
  border-radius: 5px;
  border: 3px solid $azulPrice1;
}

.btn-default{
  background: $naranja;
  color: $white;
  border-radius: 5px;
  border: none;
  font-family: Ubuntu, sans-serif;
  &:hover {
    background: $naranja2;
    color: $white;
  }
}